<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (htmlWebpackPlugin.options.env.isProduction) { %>
    <!-- https://support.cookiebot.com/hc/en-us/articles/360003979074-Using-Google-Gtag-with-Cookiebot */ -->
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="c29f298c-6b4e-41e0-9186-51d7deea03de"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>

    <script data-cookieconsent="ignore">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('consent', 'default', {
        ad_storage: 'granted',
        analytics_storage: 'granted',
        wait_for_update: 500,
      });

      gtag('set', 'ads_data_redaction', true);
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CN8W808DT7"
      data-cookieconsent="ignore"
    ></script>

    <script data-cookieconsent="ignore">
      gtag('js', new Date());
      gtag('config', 'G-CN8W808DT7');
    </script>
    <% } %>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="app-main">
      <header class="app-header">
        <section class="score-display">
          <h5 class="score-display__label">Current Score</h5>
          <div class="score-display__counter" id="score">0</div>
        </section>
        <section class="score-display">
          <h5 class="score-display__label">Best Score</h5>
          <div class="score-display__counter" id="bestScore">0</div>
        </section>
      </header>
      <div class="canvas-wrapper">
        <canvas id="app-canvas" class="app-canvas"></canvas>
      </div>
      <footer class="app-footer">
        <section>Hosted with ❤️ by Github Pages</section>
        <section>
          Created by:
          <a href="https://github.com/carlos-algms" target="_blank" rel="noopener nofollow">
            Carlos Gomes
          </a>
        </section>
      </footer>
    </main>

    <% if (htmlWebpackPlugin.options.env.isProduction) { %>
    <script
      id="CookieDeclaration"
      src="https://consent.cookiebot.com/c29f298c-6b4e-41e0-9186-51d7deea03de/cd.js"
      type="text/javascript"
      async
    ></script>
    <% } %>
  </body>
</html>
