<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (htmlWebpackPlugin.options.env.isProduction) { %>
    <base href="/snake-game/" />

    <!-- https://support.cookiebot.com/hc/en-us/articles/360003979074-Using-Google-Gtag-with-Cookiebot */ -->
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="c29f298c-6b4e-41e0-9186-51d7deea03de"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>

    <script data-cookieconsent="ignore">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('consent', 'default', {
        ad_storage: 'granted',
        analytics_storage: 'granted',
        wait_for_update: 500,
      });

      gtag('set', 'ads_data_redaction', true);
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CN8W808DT7"
      data-cookieconsent="ignore"
    ></script>

    <script data-cookieconsent="ignore">
      gtag('js', new Date());
      gtag('config', 'G-CN8W808DT7');
    </script>
    <% } %>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/x-icon" href="images/favicon/favicon.ico" />
    <link rel="icon" href="images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="images/favicon/site.webmanifest" />
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#000000" />

    <meta property="og:url" content="https://carlos-algms.github.io/snake-game/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Snake Game" />
    <meta
      property="og:description"
      content="clone of the famous game before smartphones were a thing"
    />
    <meta property="og:image" content="images/favicon/android-chrome-512x512.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
  </head>
  <body>
    <main class="app-main">
      <header class="app-header">
        <section class="score-display">
          <h5 class="score-display__label">Current Score</h5>
          <div class="score-display__counter" id="score">0</div>
        </section>
        <section class="score-display">
          <h5 class="score-display__label">Best Score</h5>
          <div class="score-display__counter" id="bestScore">0</div>
        </section>
      </header>
      <div class="canvas-wrapper">
        <canvas id="app-canvas" class="app-canvas"></canvas>
      </div>
      <footer class="app-footer">
        <section>Hosted with ❤️ by Github Pages</section>
        <section>
          Created by:
          <a href="https://github.com/carlos-algms" target="_blank" rel="noopener nofollow">
            Carlos Gomes
          </a>
        </section>
      </footer>
    </main>
  </body>
</html>
