html,
body {
  font-family: 'Roboto', sans-serif;
}

.app-main {
  min-height: 99.9vh;
  position: relative;

  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  flex: 1 1 auto;
}

.app-canvas {
  margin: 0 auto;
  display: block;
}
